<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Fascinate+Inline|Permanent+Marker&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="/javascript/action.js"></script>

    <title>You-Loader</title>
</head>
<body>
    <div class="container my-5 mx-auto" style="width:1000px;">

        <h1 style = "font-family: 'Fascinate Inline', cursive;font-size:140px;" class=" display-1 mx-auto text-danger text-center">You-Loader</h1>
        
        <p style="font-family: 'Bree Serif', serif;font-size:30px;" class="text-center font-weight-light text-secondary">Your own youtube audio/video downloader</p>
        
        
        <!-- <form action="/video" method="get">  -->
            
            <div class="form-group" >
                <div class="input-group input-group-lg mt-5">
                    <input placeholder="Enter your youtube video Link Here" type="url" id= "link" name="URL" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>    
            <div class="input-group my-3 ">
                <button type="button" class="btn btn-success mx-auto" id="send">Get Video</button>
            </div>

            <div id="hidden" class="bg-danger text-center display my-3 text-white px-2 " style="font-size: 2rem;border-radius: 15px;">

            </div>

            <div id="hidden-list-div" class="list-group">

            </div>



        <!-- </form>      -->
    </div>
</body>
</html>