html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big{
    text-align: center;
}


.main{
    margin: 30px auto;
    display: inline-block;
    padding: 50px 20px;
    text-align: center;
}


h1{
    color: tomato;
    font-size: 90px;
    font-weight: bold;
}


p{
    color: sandybrown;
    font-size: 14px;
    font-style: italic;
    margin-top:-60px;
    margin-bottom: 60px;
}

input{
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
}
input:focus{
    border: 3px solid lightseagreen;
}

select{
    font-size: 22px;
    border-radius: 10px;
    padding: 10px 20px;
}


button{
    background-color: firebrick;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}


